@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* :focus-visible {
  outline: 2px solid #1fb6e0;
  outline-offset: 3px;
  border-radius: 9999px;
} */

.swiper-pagination-bullet {
  background: #22d3ee;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #2563eb;
  opacity: 1;
}
